@(title: String, nav: String = "")(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JBay Solutions - Play Java Application Seed">
        <meta name="author" content="JBay Solutions - www.jbaysolutions.com">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <div id="navbar" class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars fa-lg fa-inverse"></span>
            </button>
            <a class="navbar-brand" href="@routes.HomeController.index()">
            </a>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="@("active".when(nav == ""))"><a href="@routes.HomeController.index()">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="@("active".when(nav == "websocket"))"><a href="@routes.HomeController.websockets()">Websockets</a></li>
            </ul>
        </div>
    </div>
    <body>

        <section id="main">
            <div class="container-fluid">
            @content
            </div>
        </section>

        <script src="@routes.Assets.versioned("javascripts/jquery-2.2.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vue.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vue-app.js")" type="text/javascript"></script>
    </body>
</html>
